<span *ngIf="!editing"
      (dblclick)="startEdit()"
      [ngClass]="{ 'completed': isChecked }"
      style="cursor: pointer; display: inline-block;">
  {{ (displayValue ?? value) || placeholder }}</span>


<span #mirror class="mirror-span">
  {{ (localValue || placeholder || 'X') + (type === 'number' ? '\u2002Z' : '') }}
</span>



<input *ngIf="editing"
       #inputRef
       class="inline-edit"
       [type]="type"
       [(ngModel)]="localValue"
       [placeholder]="placeholder"
       [min]="min"
       [max]="max"
       (input)="resizeInput()"
       (blur)="submit()"
       (keyup.enter)="submit()"
       (keyup.escape)="cancel()"
        />
