table {
  width: 100%; /* Fill available space */
  max-width: 100%; /* Prevent overflow beyond container */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 16px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  table-layout: auto; /* Or 'fixed' for equal-width columns */
  word-break: break-word;
}


thead {
  background-color: #f8f9fa;
}

th, td {
  padding: 12px 16px;
  border: 1px solid #dee2e6;
  text-align: left;
}

th {
  text-align: center;
  background-color: #3baac6;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

th:nth-child(1), td:nth-child(1) { // ID
  width: 10%;
}

th:nth-child(2), td:nth-child(2) { // TEXT
  width: 55%;
}

th:nth-child(3), td:nth-child(3) { // CHECKED
  width: 10%;
}

th:nth-child(4), td:nth-child(4) { // CREATED AT
  width: 15%;
}

th:nth-child(5), td:nth-child(5) { // DELETE
  width: 10%;
}


tbody tr:nth-child(even) {
  background-color: #eef3fb;
}

tbody tr:hover {
  background-color: #f4faff;
  cursor: pointer;
}

td {
  text-align: center;
  font-size: 15px;
  color: #212529;
}

nav a {
  padding-right: 10px;
}

.sticky-pagination {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 12px;
  border-top: 1px solid #ccc;
  z-index: 10;
}

.fixed-pagination {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 200px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  max-width: 98%;
  margin: 0 auto;

}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.delete-button:hover {
  background-color: #d32f2f;
}

td input[type="checkbox"] {
  transform: scale(1.4);
  cursor: pointer;
  margin: auto;
  display: block;
  accent-color: #3baac6;
}



