<app-header></app-header>
<div class="search-wrapper">
  <input
    (input)="applySearch()"
    [(ngModel)]="searchQuery"
    class="search-box"
    placeholder="🔍 Search tasks..."
    type="text"
  />
</div>


<div class="input-wrapper">
  <input
    #taskInput
    (keydown.enter)="onEnter(taskInput)"
    [(ngModel)]="newTaskText"
    placeholder="Add task"
    type="text"
  />
  <button (click)="addTask()"
          [class.disabled]="isAddDisabled"
          [disabled]="isAddDisabled"
          class="add-button">Add
  </button>


</div>

<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
  <p>{{ loadingMessage }}
    <span class="task-length"></span></p>
  <button (click)="cancelLoading()" class="remove-button">Cancel</button>

</div>


<div style="display: flex; justify-content:center; margin-bottom: 23px ">
  <app-pagination
    (pageChange)="onPageChange($event)"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalItems]="tasks.length">
  </app-pagination>
</div>
<ul class="container" id="task-list">
  <div class="task-header">
    <div class="task-count">
      Total tasks: <span class="task-length">{{ tasks.length }}</span>
    </div>
    <div class="clear-action">
      <button (click)="clearAllWithConfirm()" class="clear-all">Clear all</button>
      <button (click)="pushCompletedTasks()" class="clear-completed">Push completed</button>
    </div>
  </div>

  <li *ngFor="let task of pagedTasks" [class.complete]="task.checked" class="adding">
    <div class="task-content">
      <input
        (change)="onCheckboxChange($event, task)"
        [checked]="task.checked"
        type="checkbox"
      />


      <app-inline-edit
        (valueChange)="updateTaskText(task, $event)"
        [class.completed]="task.checked"
        [isChecked]="task.checked"
        [ngClass]="{ 'completed': task.checked }"
        [value]="task.text">
      </app-inline-edit>
    </div>

    <button (click)="removeTask(task)" class="remove-button">X</button>
  </li>


</ul>







