<app-header></app-header>
<div class="search-wrapper">
  <input
    [(ngModel)]="searchQuery"
    (input)="applySearch()"
    type="text"
    placeholder="🔍 Search tasks..."
    class="search-box"
  />
</div>

<button (click)="generateDebugTasks()" style="position: absolute; margin-top: 15px " class="remove-button">🛠 Generate 20
  Tasks
</button>
<div class="input-wrapper">
  <input
    [(ngModel)]="newTaskText"
    #taskInput
    (keydown.enter)="onEnter(taskInput)"
    placeholder="Add task"
    type="text"
  />
  <button (click)="addTask()"
          class="add-button"
          [disabled]="isAddDisabled"
          [class.disabled]="isAddDisabled">Add
  </button>


</div>

<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
  <p>{{ loadingMessage }}
    <span class="task-length"></span></p>
  <button (click)="cancelLoading()">Cancel</button>

</div>


<div style="display: flex; justify-content:center; margin-bottom: 23px ">
  <app-pagination
    [totalItems]="tasks.length"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
<ul id="task-list" class="container">
  <div class="task-header">
    <div class="task-count">
      Total tasks: <span class="task-length">{{ tasks.length }}</span>
    </div>
    <div class="clear-action">
      <button (click)="clearAllWithConfirm()" class="clear-all">Clear all</button>
      <button (click)="pushCompletedTasks()" class="clear-completed">Push completed</button>
    </div>
  </div>

  <li *ngFor="let task of pagedTasks" class="adding" [class.complete]="task.checked">
    <div class="task-content">
      <input
        type="checkbox"
        [checked]="task.checked"
        (change)="onCheckboxChange($event, task)"
      />


      <app-inline-edit
        [value]="task.text"
        (valueChange)="updateTaskText(task, $event)"
        [isChecked]="task.checked"
        [ngClass]="{ 'completed': task.checked }"
        [class.completed]="task.checked">
      </app-inline-edit>
    </div>

    <button (click)="removeTask(task)" class="remove-button">X</button>
  </li>


</ul>







