<div class="input-wrapper">
  <input
    [(ngModel)]="newTaskText"
    (keydown.enter)="addTask()"
    placeholder="Add task"
    type="text"
  />
  <button (click)="addTask()"
          class="add-button"
          [disabled]="isAddDisabled"
          [class.disabled]="isAddDisabled">Add</button>

  <button (click) = clearAllTasks() class = "remove-button">Clear all</button>
  <button (click) = clearCompletedTasks() class = "remove-button">Clear completed</button>

</div>
<nav><a routerLink="/completed-task">Completed Tasks</a></nav>
<ul id="task-list" class="container">
  <div>Total tasks: <span class="task-length">{{ tasks.length }}</span></div>
  <li *ngFor="let task of tasks" class="adding">
    <div class="task-content">
      <input type="checkbox" [(ngModel)]="task.checked" (change)="onCheckboxChange($event, task)" />
      <span [class.completed]="task.checked">{{ task.text }}</span>
    </div>
    <button (click)="removeTask(task)" class="remove-button">X</button>
  </li>


</ul>







